<div id="modal" class="popupContainer" style="display:none;">
                <header class="popupHeader">

                    <span class="header_title">Sign In</span>
                    <span class="modal_close"><i class="fa fa-times"></i></span>
                </header>

                <section class="popupBody">
                    <div id="modal" class="user_login">
                        <form action="/login" method="post">
                                <label>Username</label>
                                <input name="username" type="text" />
                                <br />

                                <label>Password</label>
                                <input name="password" type="password" />
                                <br />
                            
                                <div class="checkbox">
                                    <input id="remember" type="checkbox" />
                                    <label for="remember">Remember me on this computer</label>
                                </div>

                                <div class="action_btns">
                                    <div class="one_half "><button class="btn btn_red">Login</button></div>
                                </div>
    
                         
                            <div id="createAccountBut" >
                                 <span>Don't have an account?</span>
                                 <a href="/signup" class="btn btn-lg">Create Account</a></div>
                                
                            
                            
                            
                            </form>

                        
                    </div>

                </section>
            </div>