<% include partials/navbar_others %>

    <div id="mySidenav" class="sidenav">
        <a href="/dashboard/<%= currentUser.username%>/account_info">Account Info</a>
        <a href="/dashboard/<%= currentUser.username%>/statistics" >Statistics</a>
        <a href="/dashboard/<%= currentUser.username%>/transactions" class="active-page">Transactions</a>
        <a href="/dashboard/<%= currentUser.username%>/my_videos">My videos</a>
    </div>

    <section id="main-content">
        <div id="dashboardContainer">
            <div class="container-fluid">
                <h1>Transactions</h1>

                There isn't anything here yet.

            </div>
        </div>
    </section>
    <% include partials/footer %>