<% include partials/navbar_others %>

<% if(error && error.length > 0){ %>
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p>
            <%= error %>
        </p>
    </div>
    <% } %>


        <div id="uploadContent">
            <div class="row">
                <h2>Upload your video!</h2>
            </div>     
     



           <div class="row">
            

                <div class="col-md-8">
                    <form action="/file-upload" method="post" id="uploadForm" encType="multipart/form-data">
                        <input id="input-b1" name="videoUpload" type="file" accept=".mp4" class="file">
                        <div class="form-group">
                            <label for="videoTitle">Video Title:</label>
                            <input type="text" class="form-control" name="videoTitle" placeholder="Enter video title..">
                        </div>
                        <div class="form-group">
                            <label for="videoDescription">Video description:</label>
                            <textarea class="form-control" rows="5" name="videoDescription" placeholder="Write your story here..."></textarea>
                        </div>
                        <div class="form-group">
                            <label for="videoTagInput">Tags:</label>
                            <input type="text" class="form-control" name="videoTags" placeholder="Enter tags that describe your video..">
                            <small class="form-text text-muted">Write tags separated by spaces</small>
                        </div>
                        <div style="margin-top:-5px" class="row">
                            <div class="form-group col-md-5">
                                <label for="videoCatSelect">Choose category:</label>
                                <select class="form-control" name="videoCategory">
                                    <option>Select one of these</option>
                                    <option value="Animals">Animals</option>
                                    <option value="Politics">Politics</option>
                                    <option value="Entertainment">Entertainment</option>
                                    <option value="Crime">Crime</option>
                                    <option value="Accidents">Accidents</option>
                                    <option value="Weather/Nature">Weather/Nature</option>
                                    <option value="Sport">Sport</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="form-group col-md-5">
                                <label for="videoDateInput">Choose when you shot the video:</label>
                                <div class='input-group date' id='videoDateTimepicker'>
                                    <input name="videoDate" type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                         <label for="videoLocation">Enter video coordinates:</label>
                        
                        <h4><a id="modal_trigger2" href="#modal2">Open map</a>
                </h4>
                        <br>
                             <div style="margin-top:-5px" class="row">
                            <div class="form-group col-md-5">   
                            <input type="number" step="0.000000000000000001" class="form-control" id="lat" name="videoXCoord" placeholder="Latitude">
                            </div>
                            <div class="col-md-2"></div>
                            <div class="form-group col-md-5">
                               <input type="number" step="0.000000000000000001" class="form-control" id="lng" name="videoYCoord" placeholder="Longitude">
                            </div>
                        </div>
                        <div class="row">
                         <div class="col-md-5"></div>
                            <div class="col-md-2"><button type="submit" class="btn btn-block btn-danger">Upload</button></div>
                          <div class="col-md-5"></div>
                            </div>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>   
        </div> 

<% include partials/mapPopup %>

<% include partials/footer %>